* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    background-color: #2d3945;
    color: white;
    font-size: 1em;
    margin: 0 0 25px 0;
    padding: 25px 0;
}

h2,
legend {
    font-size: 17px;
    color: #2d3945;
    font-weight: bold;
}

h2 {
    margin-bottom: 10px;
}

p,
label {
    font-size: .75em;
    color: #a8b3bb;
}

header p {
    margin: 0 15px 0 15px;
    padding: 0 15px 30px;
    border-bottom: solid 4px #2d3945;
}


.container_1,
.container_2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

fieldset {
    margin: 2px 15px 10px;
    padding: 15px 0;
    border-top: solid 2px #2d3945;
    border-right: none;
    border-left: none;
    border-bottom: none;

}

.container_1 label {
    padding: 15px 0 5px;
}

input::placeholder {
    text-align: right;
    font-size: .75em;
    color: #a8b3bb;
    font-style: italic;
}

select,
input,
textarea {
    padding: 10px 15px;
    margin: 0;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: .75em;
}

textarea {
    height: 80px;
    resize: none;
    width: 100%;
}

select {
    margin-bottom: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
    outline: 0;
} 

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border: #2d3945 2px solid;
}


input:focus::placeholder {
    color: transparent;
}

#zip_code {
    width: 120px;
}

.label_newsletter,
.container_2 div {
    padding: 5px;
}

.button {
    margin: 20px 0 0 0;
    padding: 20px 40px 18px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    background-color: #4ebbb5;
    color: white;
}

footer p {
    margin-top: 0;
    margin-bottom: 20px;
    font-style: italic; 
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

.label_newsletter:nth-child(2),
.label_newsletter:nth-child(6) {
    margin-top: 10px;
}







